.App {
  min-width: 500px;
  max-width: 100%;
  padding: 7px;
  border: 1px solid #282c34;
  position: relative;
}

.App form input[type='search'] {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  appearance: none;
  outline: none;
  border: 1px solid #282c34;
  font-size: 1.3rem;
  color: #333333;
  margin-bottom: 5px;
}

.App form input[type='search']:focus {
  border: 1px solid #e04e9c;
}

.App form {
  margin-bottom: 10px;
}
